#home {
  padding-top: 0;
}

.home-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 100%;
  gap: 1rem;
}

.introduction {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border-px) solid var(--border-color);
  border-radius: 5px;
}

.introduction h1 {
  font-size: 1.9rem;
  font-weight: 500;
}

.introduction h2 {
  font-size: 1.14rem;
  font-weight: 400;
  opacity: 0.7;
}

.sep-line {
  width: 70%;
  height: var(--border-px);
  background-color: var(--primary-color);
  margin: 1rem 0;
  opacity: 0.3;
}

.introduction-text {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.introduction-stack-container {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100px;
  min-width: 70%;
  max-width: 70%;
}

.introduction-stacks {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.introduction-stack {
  width: 100%;
}

.introduction-stack-list {
  display: flex;
  font-size: 0.95rem;
  gap: 1rem;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  white-space: nowrap;
  mask: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.marquee-wrapper {
  display: flex;
  gap: 1rem;
  width: max-content;
  animation: marquee 70s linear infinite;
}

.marquee-wrapper > * {
  flex-shrink: 0;
}

.marquee-wrapper-reverse {
  display: flex;
  width: max-content;
  gap: 1rem;
  animation: marquee-reverse 43s linear infinite;
}

.marquee-wrapper-reverse > * {
  flex-shrink: 0;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(0%);
  }
}

.introduction-stack-list img {
  filter: invert(var(--invertHover));
}

.recents {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 8fr 8fr max-content;
  grid-template-rows: 100%;
  gap: 1rem;
}

.recentAndProject1 {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: max-content 7fr;
  grid-template-columns: 100%;
  gap: 1rem;
}

.recent {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.viewMoreVertical {
  display: flex;
  width: 100%;
  height: 100%;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-direction: column; */
  border: var(--border-px) solid
    rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.5);
  opacity: 1;
  /* padding: 0.7rem; */
  /* padding-left: 1rem; */
  cursor: pointer;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: border 0.3s ease-out;
}

.viewMoreVertical:hover {
  border: var(--border-px) solid
    rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1);
}

.opacityLayer {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0.7rem;
}

.opacityLayer-smaller {
  padding: 0.2rem;
}

/* .viewMoreVertical:hover {
    opacity: 1;
} */

.rotate90deg {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 0.95rem;
  margin-left: 0.1rem;
  margin-top: 0.3rem;
}

.viewMoreVertical-smaller {
  /* padding: 0.2rem; */
  transition: border 0.3s ease-out;
}

.viewMoreVertical-smaller:hover {
  border: var(--border-px) solid
    rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1);
}

.rotate90deg-smaller {
  font-size: 0.57rem;
  margin-left: 0.1rem;
  margin-top: 0.3rem;
}

.viewMore-arrow {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.viewMore-arrow-smaller {
  font-size: 0.57rem;
}

@media (max-width: 1180px) {
  .rotate90deg {
    margin-left: 0.1rem;
    margin-top: 0.3rem;
  }

  .rotate90deg-smaller {
    font-size: 0.57rem;
    margin-left: 0.1rem;
    margin-top: 0.3rem;
  }
}

@media (max-width: 768px) {
  .introduction {
    padding: 0;
    border: none;
  }

  .introduction-text {
    width: 100%;
  }

  .introduction-stack-container {
    max-width: 100%;
    min-width: 100%;
  }

  .recents {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
  }

  .recentAndProject1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
  }

  .recent {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .project2AndViewProjects {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 1rem;
  }

  .viewMoreVertical {
    width: max-content;
  }
}
