.contact-container {
  display: grid;
  height: 100%;
  /* min-height: calc(100vh - var(--navbar-height) - 5rem); */
  width: 100%;
  grid-template-rows: max-content;
  grid-template-columns: 10fr max-content;
  gap: 2rem;
}

.main-contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.main-contact-container h2 {
  font-size: 9.5rem;
  line-height: 9.5rem;
  margin-bottom: 3rem;
}

.main-contact-container p {
  margin-top: 2rem;
}

.sepLineContact {
  width: 20%;
  height: var(--border-px);
  background-color: var(--primary-color);
  margin: 1rem 0;
  opacity: 0.3;
}

.socials {
  height: auto;
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
}

.socialCard {
  width: auto;
  height: 50px;
  border: var(--border-px) solid
    rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.5);
  /* opacity: 0.5;
    padding: 0.4rem; */
  border-radius: 5px;
  /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4rem; */
  -webkit-tap-highlight-color: transparent;
  outline: none;
  cursor: pointer;
  transition:
    border 0.3s ease-out,
    scale 0.3s ease-out;
}

.socialCard:hover {
  border: var(--border-px) solid
    rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1);
  scale: 1.1;
}

.social-opacityLayer {
  width: auto;
  height: 100%;
  padding: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

/* .socialCard:hover {
    opacity: 1;
    scale: 1.1;
} */

.socialbg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
}

.github-background {
  background-color: #595959;
}

.linkedin-background {
  background-color: #007bff;
}

.instagram-background {
  background-color: #dd2a7b;
}

.email-background {
  background-color: #b9b9b9;
}

.socials i {
  font-size: 1.425rem;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  color: #fff;
}

.cv-section-container {
  text-align: left;
  width: 100%;
  height: 100%;
}

.cv-container {
  margin-top: 1rem;
  max-width: calc(799px / 3);
  max-height: calc(1134px / 3);
  background-color: #595959;
  display: flex;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: var(--border-px) solid
    rgba(var(--primary-r), var(--primary-g), var(--primary-b), 0.5);
  transition: all 0.3s ease-out;
}

.cv-container:hover {
  border: var(--border-px) solid
    rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1);
}

.cv-container i {
  color: #000;
}

.cv-container .imgWrapper {
  min-width: 100%;
  display: flex;
}

/* Style each slide */
.cv-container .slide {
  display: none;
  width: 100%;
  height: 100%;
}

.cv-container .photo {
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.cv-container .photo:hover {
  transform: scale(1.05);
}

/* Next & previous buttons */
.cv-container .prev,
.cv-container .next {
  cursor: pointer;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
  margin-top: -22px;
  background-color: transparent;
  /* color: rgba(255,255,255, 0.5); */
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-size: 17px;
  opacity: 0.5;
  transition: all 0.3s ease-out;
  border-radius: 50%;
}

.cv-container .prev {
  left: 1px;
  text-align: left;
}

.cv-container .next {
  right: 1px;
  text-align: right;
}

.cv-container .prev:hover,
.cv-container .next:hover {
  opacity: 1;
}

.cv-container .next {
  right: 1px;
  text-align: right;
}

.cv-container .caption-wrapper {
  position: absolute;
  bottom: 8px;
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caption text */
.cv-container .caption {
  width: max-content;
  text-align: center;
  padding: 0 8px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  font-size: 14px;
  font-weight: bold;
  color: #000;
  border: var(--border-px) solid #000;
  border-radius: 5px;
}

.cv-container .openPDF {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.cv-container .downloadPDF {
  position: absolute;
  bottom: 8px;
  left: 8px;
  display: flex;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.cv-container .openPDF i {
  font-size: 1.425rem;
}

.cv-container .downloadPDF i {
  font-size: 1.425rem;
}

.cv-container .downloadPDF:hover,
.cv-container .openPDF:hover {
  opacity: 1;
}

.text-align-left {
  text-align: left;
}

@media (max-width: 1180px) {
  .socialCard:hover {
    border: var(--border-px) solid
      rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1);
    scale: 1;
  }
}

@media (max-width: 768px) {
  #contact {
    padding-top: 0;
    padding-bottom: 0;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .main-contact-container h2 {
    font-size: 7.6rem;
    line-height: 7.6rem;
    margin-bottom: 1rem;
  }

  .cv-container {
    flex-direction: column;
    max-width: none;
    min-width: none;
    height: 200px;
    width: 100%;
    align-items: stretch;
  }

  .photo {
    width: 100%;
  }
}
