body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #393646;
    display: flex;
    overflow-y: hidden;
}

.aboutPage h1 {
    font-size: 200%;
}

.aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.aboutPage .line {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 0%;
    animation: biggerLineAnimation 2s ease-in-out forwards;
}

.smallerBottomMarginLine {
    width: 80%;
    height: 1px;
    background-color: #F4EEE0;
    margin: 10px 0;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 0;
    animation: biggerLineAnimation 2s ease-in-out forwards;
}

.profileContainer {
    display: flex;
    width: 70%;
    height: 15%;
    /* padding: 2%; */
    gap: 3%;
    margin-bottom: 2%;
}

.profile {
    display: flex;
    flex: 1;
    height: auto;
    width: auto;
    padding: 2%;
    background-color: #4F4557;
    border: 2px solid #6D5D6E;
    border-radius: 5%;
    flex: 1;
    gap: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: scaleIn 1.2s ease-in-out;
}

.suggestions {
    margin-top: 1.5%;
    animation: slide-in 1.5s ease forwards;
}

.pDownload {
    margin-top: 1.5%;
    animation: slide-in 1.5s ease forwards;
}

@keyframes slide-in {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0);
    }
}

.featureCard {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.featureCard:hover, .featureCard:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.contactCard {
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contactCard:hover, .contactCard:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.contactCard:active {
    box-shadow: inset -0.2em 0 0.2em rgba(0, 0, 0, 0.5), inset 0.2em 0 0.2em rgba(0, 0, 0, 0.5), inset 0 -0.2em 0.2em rgba(0, 0, 0, 0.5), inset 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
    transform: translateY(0);
}

.contactCards {
    display: flex;
    width: 80%;
    height: 50%;
    gap: 3%;
    margin-top: 4%;
    margin-bottom: 5%;
    animation: scaleIn 1.2s ease-in-out;
}

.mailIcon {
    background-image: url(./assets/img/envelope-regular-240.png);
    background-position: center;
    background-size: cover;
}

.githubIcon {
    background-image: url(./assets/img/github-logo-240.png);
    background-position: center;
    background-size: cover;
}

.instagramIcon {
    background-image: url(./assets/img/instagram-logo-240.png);
    background-position: center;
    background-size: cover;
}

.contactCard {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    width: auto;
    padding: 2%;
    background-color: #4F4557;
    border: 2px solid #6D5D6E;
    border-radius: 5%;
    gap: 2%;
}

.contactPage h2 {
    margin: 0;
}

.cardText {
    height: 30%;
    width: 100%;
    font-size: 150%;
}

.cardIcon {
    height: 70%;
    width: 100%;
}

/* .randomCard {
    animation: scaleIn 1.2s ease-in-out;
}

.filterCard {
    animation: scaleIn 1.6s ease-in-out;
}

.historyCard {
    animation: scaleIn 2.0s ease-in-out;
} */

.picture {
    height: 100%;
    width: 30%;
    border-radius: 5%;
}

.vlad .picture {
    background-image: url(./assets/img/vlad.png);
    background-position: center;
    background-position-y: 20%;
    background-size: cover;
}

.aryan .picture {
    background-image: url(./assets/img/catwheelporsche.jpg);
    background-position: center;
    background-position-y: 10%;
    background-size: cover;
}

.textProfile {
    height: auto;
    width: 70%;
    color: #F4EEE0;
    border-radius: 5%;
    font-size: 70%;
    text-align: left;
    padding: 0.2%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textProfile p {
    margin: 0;
}

@keyframes biggerLineAnimation {
    from {
      width: 0;
    }
    to {
      width: 7%;
    }
}

.main {
    height: 100vh;
    width: 80%;
    border-right: 2px solid #6D5D6E;
    background-color: #393646;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    padding: 2%;
    justify-content: center;
    color: #F4EEE0;
}

.homePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.page {
    animation: fadeIn 1.2s ease-in-out;
}

.contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contactPage .line {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 0%;
    animation: biggerLineAnimation 2s ease-in-out forwards;
}

.contactPage h1 {
    font-size: 200%;
    margin: 0;
    margin-bottom: 2%;
}

.downloadPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.downloadPage .line {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 0%;
    animation: biggerLineAnimation 2s ease-in-out forwards;
}

.downloadPage h1 {
    font-size: 200%;
    margin: 0;
    margin-bottom: 2%;
}

.demoPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: #817e77;
}

.outputActivity {
    width: 60%;
    height: 50%;
    background-color: #4F4557;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid #6D5D6E;
    border-radius: 5%;
    color: #F4EEE0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    animation: scaleIn 1.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

iframe {
    animation: scaleIn 1.2s ease-in-out;
}

.typeActivityText {
    animation: fadeIn 1.2s ease-in-out;
}

@keyframes scaleIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}

.descriptionActivity {
    animation: scaleIn 2s ease-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.hereToContact {
    color: white;
}

.outputActivity .line {
    margin-bottom: 2%;
    width: 0%;
    animation: lineAnimation 2s ease-in-out forwards;
}

@keyframes lineAnimation {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
}

.randomButton {
    cursor: pointer;
    border: 2px solid #6D5D6E;
    background-color: #4F4557;
    height: 10%;
    width: 20%;
    color: #F4EEE0;
    font-size: 150%;
    border-radius: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
}

.randomButton:hover,
.randomButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.randomButton:active {
    box-shadow: inset -0.2em 0 0.2em rgba(0, 0, 0, 0.5), inset 0.2em 0 0.2em rgba(0, 0, 0, 0.5), inset 0 -0.2em 0.2em rgba(0, 0, 0, 0.5), inset 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
    transform: translateY(0);
}

.downloadButton {
    cursor: pointer;
    border: 2px solid #6D5D6E;
    background-color: #4F4557;
    height: 80px;
    width: 200px;
    margin-top: 4%;
    color: #F4EEE0;
    font-size: 20px;
    border-radius: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
}

.downloadButton:hover,
.downloadButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.downloadButton:active {
    box-shadow: inset -0.2em 0 0.2em rgba(0, 0, 0, 0.5), inset 0.2em 0 0.2em rgba(0, 0, 0, 0.5), inset 0 -0.2em 0.2em rgba(0, 0, 0, 0.5), inset 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
    transform: translateY(0);
}

svg {
    margin-left: 5px;
}

/* .homePage p {
    margin: 0;
} */

/* p {
    display: flex;
    align-items: center;
    justify-content: center;
} */

h1 {
    margin: 0;
    margin-bottom: 2%;
}

.nav {
    height: 100vh;
    width: 20%;
    background-color: #4F4557;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: #F4EEE0;
    font-size: 100%;
}

.nav-item {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;
}

.hidden {
    display: none;
}

.nav-item:hover {
    transform: scale(1.5);
}

.line {
    width: 80%;
    height: 1px;
    background-color: #F4EEE0;
    margin: 10px 0;
}

.pDemo {
    margin-top: 3%;
    animation: slide-in 1.5s ease forwards;
}

.demo {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.demo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #F4EEE0;
    transition: width 0.7s ease;
}

.demo:hover::after {
    width: 100%;
}

.demo:hover {
    text-decoration: none;
}

/* .demo:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: #F4EEE0;
    animation: underlineAnimation 1s forwards;
    transition: width 0.3s ease;
} */

/* .demo::after {

} */

h3 {
    margin: 0;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.name {
    text-decoration: none;
    position: relative;
}

.name::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 3px;
    background-color: #F4EEE0;
    animation: underlineAnimation 1s forwards;
}

.featureCards {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: row;
    /* padding: 2%; */
    gap: 5%;
    /* margin-right: 5%;
    margin-left: 5%; */
    /* margin-top: 2%; */
    animation: scaleIn 1.2s ease-in-out;
}

.featureCard {
    flex: 1;
    background-color: #4F4557;
    border-radius: 3%;
    display: flex;
    padding: 2%;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #6D5D6E;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    padding-right: 6%;
    margin-top: 13%;
}

li {
    flex: 1;
}

.homePage h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.demoPage h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

@keyframes underlineAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

::selection {
    background-color: #F4EEE0;
    color: #393646;
}